fastapi==0.110.1
starlette==0.37.2
pydantic==1.8.2
typing-extensions==4.8.0
asgiref==3.4.1
click==8.0.1
colorama==0.4.4
SQLAlchemy==1.4.23
psycopg2_binary==2.9.1
SQLAlchemy_utils==0.37.8
fastapi_jwt_auth
uvicorn
werkzeug
pydantic[dotenv]
requests
stripe